@media only screen and (min-device-width: 480px){

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}


/* ---------- #TOP ---------- */

.top {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  font-size: 19px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 20px;
  text-align: center;
  z-index: 100;
  transition: top 0.3s ease, background 0.3s ease;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  float: left;
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  color: #999999;
}

.dropdownContent {
  display: none;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  z-index: 100;
  padding: 0;
  padding-top: 10px;
}

.dropdownContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
}

.dropdownContent:hover {
  color: #999999;
}

.dropdownContent li {
  text-align: left;
  margin-left: 20px;
}

.dropdownContent li:hover {
  color: #000000;
}

.dropdown:hover {
  color: #000000;
}

.dropdown:hover .dropdownContent {
  display: block;
}


/* ---------- #HELPERS ---------- */

.left {
  float: left;
  margin-left: 20px;
}

.right {
  float: right;
  margin-right: 20px;
}


/* ---------- #BOTTOM ---------- */

.link {
  padding: 0;
  margin: 10px;
  margin-bottom: 29px;
}

.link li {
  float: left;
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 10px;
}


/* ---------- #FORM ---------- */

input {
  width: 100%;
  height: 29px;
  color: #999999;
  background: #ffffff;
  border: solid 1px #999999;
  margin-top: 4px;
  margin-bottom: 17px;
}

.linput {
  width: 100%;
  height: 200px;
  color: #999999;
  background: #ffffff;
  border: solid 1px #b8b8b8;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 12%;
  text-align: left;
}

.subbtn {
  border: solid 1px #000000;
  width: 100%;
  height: 29px;
  color: #ffffff;
  background: #000000;
  margin-top: 17px;
}

.selectDiv {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  border: solid 1px #b8b8b8;
  background: #ffffff;
  border-radius: 0;
  width: 100%;
  height: 29px;
  color: #999999;
  background: #ffffff;
  border-radius: 0px;
  margin-top: 4px;
  margin-bottom: 17px;
  padding-left: 10px;
  appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
}

label {
  margin-top: 4px;
  margin-bottom: 2px;
}
 
}

@media only screen and (min-device-width: 768px){

 
}
