h1 { 
align-self: center;
font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 49px;
color: #9C9C9C;
}

h2 { 
align-self: center;
font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 49px;
color: #9C9C9C;
}

h {
font-family: system-ui;
margin-top: 29px;
margin-left: 29px;
color: #9C9C9C;
}

img {
display: block;
filter: blur(8px);
-webkit-filter: blur(8px);
width: 100%;
height: 400px;
background: #CCCCCC;
}

.div {
display: block;
width: 100%;
height: 1px; 
background: #CCCCCC;
margin-top: 100px;
margin-bottom: 100px;
}

.mid {
margin-left: 100px;  
}

.menu {
margin-top: 100px;  
margin-bottom: 100px;
}

.menu a {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
margin-left: 22px;
}

.menu a:hover {
font-family: system-ui;
color: #CCCCCC;
text-decoration: none;
margin-left: 22px;
}

.menu a:active {
font-family: system-ui;
color: #CCCCCC;
text-decoration: none;
}

.sidemenu {
position: fixed;
width: 100%;
height: 79px;
top: 0;
left: 0;
right: 0;
background: none;
color: #9C9C9C;
}

a {
text-decoration: none;
}

p {
font-family: system-ui;
color: #9C9C9C;
overflow: hidden;
}

ul {
font-family: system-ui;
list-style-type: none;
font-family: system-ui;
color: #9C9C9C;
overflow: hidden;
}

li {
font-family: system-ui;
color: #9C9C9C;
overflow: hidden;
cursor: pointer;
margin: 10px;
}

.itemlist {
list-style-type: none;  
}

.filter {
display: flex;
width: 490px;
height: 24px;
border: 1px;
color: #CCCCCC;
background: #FFFFFF;
border-radius: 20px;
margin: 20px;
margin-top: 20px;
margin-left: 40px;
}
   
.filterbtn {
position: absolute;
width: 1px;
height: 1px;
border: none;
color: #FFFFFF;
background: none;
margin: -1px;
margin-left: 179px;
}

.btn { 
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
background: none;
color: #CCCCCC;
}

.sidemenu ul {
font-family: system-ui;
list-style-type: none;
overflow: hidden;
}

.sidemenu li {
float: right;
}

.sidemenu a {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:hover {
font-family: system-ui;
color: #CCCCCC;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:active {
font-family: system-ui;
color: #CCCCCC;
text-decoration: none;
}
