* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: system-ui;
  font-size: 20px;
  color: #4d4d4d;
  text-align: center;
}

/* menu */

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: #4d4d4d;
  text-align: center;
  z-index: 100;
  transition: top 0.3s ease, background 0.3s ease;
}

.menu h {
  float: left;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 29px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  float: left;
  list-style-type: none;
  padding: 0;
  margin-right: 10px;
}

.dropdown__content {
  display: none;
  position: fixed;
  top: 12%;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  background: #ffffff;
  color: #4d4d4d;
  z-index: 100;
  padding: 0;
}

.dropdown__content:hover {
  color: #b8b8b8;
}

.dropdown__content li {
  text-align: left;
  margin-left: 20px;
}

.dropdown__content li:hover {
  color: #4d4d4d;
}

.dropdown:hover .dropdown__content {
  display: block;
}

/* helpers */

.left {
  float: left;
  margin-left: 20px;
}

.right {
  float: right;
  margin-right: 20px;
}

/* footer */

.link {
  padding: 0;
  margin: 10px;
  margin-bottom: 29px;
}

.link li {
  float: left;
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.subbtn {
  border: none;
  font-size: 14px;
  background: #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  margin-top: -6px;
  margin-left: 10px;
}

.newsletter {
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
  text-align: left;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  width: 400px;
  height: auto;
  color: #b8b8b8;
  border: none;
  border-bottom: 1px solid #4d4d4d;
  margin-left: 2px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-left: 2px;
}

input::placeholder {
  color: #b8b8b8;
}

/* div */

.div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background: #ffffff;
  z-index: 110;
  transition: top 0.3s;
}

.div ul {
  list-style-type: none;
  margin: 10px;
  margin-left: 20px;
}

.div li {
  float: left;
  margin-right: 10px;
}

/* Filter */

.filter {
  display: none;
  position: fixed;
  width: 40%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  border-left: 1px solid #404040;
  z-index: 120;
}

.filterbtn {
  float: right;
  font-size: 20px;
  border: none;
  background: #ffffff;
  color: #404040;
  margin-right: 10px;
}

.filter button {
  float: right;
  font-size: 17px;
  border: none;
  background: #ffffff;
  color: #404040;
  margin-right: 20px;
}

.filter .div {
  display: flex;
  position: relative;
  top: 14%;
  left: 4%;
  right: 4%;
  width: 98%;
  height: 100%;
}

.showbtn {
  position: absolute;
  left: 0;
  bottom: 20%;
}

.closebtn {
  position: absolute;
  top: 4%;
  left: 4%;
  font-size: 20px;
  border: none;
  background: #ffffff;
  color: #404040;
}

.grid {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 80%;

  grid-gap: 0px;
  grid-auto-flow: column;

  width: 100%;
  height: 100%;
}

.grid .div {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.size {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: height 0.3s ease;
}

.size0 {
  display: none;
  text-align: left;
  width: 20px;
  height: 100px;
  font-size: 17px;
}

.sizebtn {
  position: absolute;
  top: 0;
  left: 0;
}

.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: height 0.3s ease;
}

.color0 {
  display: none;
  text-align: left;
  font-size: 17px;
}

.colorbtn {
  position: absolute;
  top: 0;
  left: 0;
}

.price {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.price0 {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.pricebtn {
  position: absolute;
  top: 0;
  left: 0;
}

.sort {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sort0 {
  display: none;
  text-align: left;
  font-size: 17px;
}

.sortbtn {
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"] {
  display: none;
  font-size: 12px;
  border: none;
  color: #4d4d4d;
  margin-bottom: 10px;
  padding: 0;
}

input:checked + label {
  color: #b8b8b8;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 220px;
  height: 4px;
  border: none;
  background: #4d4d4d;
  margin-top: 4px;
  margin-bottom: 17px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 220px;
  height: 4px;
  border: none;
  background: #4d4d4d;
}

input[type="range"]::-moz-range-track {
  width: 220px;
  height: 4px;
  border: none;
  background: #4d4d4d;
}

input[type="range"]::-ms-track {
  width: 220px;
  height: 4px;
  background: #4d4d4d;
  border: none;
  border-radius: 0;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 14px;
  background: #4d4d4d;
  border: none;
  border-radius: 0;
  margin-top: -6px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 4px;
  height: 14px;
  background: #4d4d4d;
  border: none;
  border-radius: 0;
  margin-top: -6px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 4px;
  height: 14px;
  background: #4d4d4d;
  border: none;
  border-radius: 0;
  margin-top: -6px;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #ffffff;
}

input[type="range"]::-ms-fill-upper {
  background: #ffffff;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  position: relative;
}

.slider .div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  position: relative;
}

.slider_left {
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #4d4d4d;
}

.slider_right {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #4d4d4d;
}

/* grid */

.collection {
  position: relative;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin: 20px;
  margin-top: 12%;
  margin-bottom: 50px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  color: #ffffff;
  padding-top: 120%;
}

p {
  font-family: system-ui;
  font-weight: 20px;
  font-size: 12px;
  overflow: hidden;
}

.product .product_img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 140%;
  overflow: hidden;
}

.product .product_img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product .product_title p {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-family: system-ui;
  font-size: 12px;
  margin-bottom: 7px;
}

.product .product_title a {
  color: #ffffff;
  text-decoration: none;
}

.product .product_price p {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-family: system-ui;
  font-size: 12px;
  margin-bottom: 7px;
}

.product .product_size {
  position: absolute;
  display: none;
  bottom: 0;
  right: 10px;
  font-family: system-ui;
  font-size: 12px;
  margin-bottom: 7px;
}

.product .product_wishlist {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  color: #4d4d4d;
}

.product .product:hover .product_title {
  display: none;
}

.product:hover .product_price {
  display: none;
}

.product:hover .product_size {
  display: block;
}

input[type="radio"] {
  display: none;
  font-size: 12px;
  border: none;
  color: #4d4d4d;
  margin-bottom: 10px;
  padding: 0;
}

.bag {
  display: none;
  position: fixed;
  width: 40%;
  height: auto;
  top: 12%;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
}

.wishlist {
  display: none;
  position: fixed;
  width: 40%;
  height: auto;
  top: 12%;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  text-align: left;
}

.wishlist h {
  margin-left: 20px;
}

.wishlist_div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6%;
  left: 2%;
  right: 0;
  width: 98%;
  height: 94%;
}

.wishlist_product {
  position: relative;
  width: 100%;
  height: 70px;
}

.wishlist_img {
  display: block;
  position: relative;
  width: 40%;
  height: 70%;
  padding-top: 100%;
  overflow: hidden;
}

.wishlist_img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  object-fit: cover;
}

.wishlist_title p {
  position: absolute;
  top: 0;
  left: 14px;
  font-family: system-ui;
  font-size: 12px;
}

.wishlist_title a {
  color: #4d4d4d;
  text-decoration: none;
}

.wishlist_price p {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: system-ui;
  font-size: 12px;
}

.wishlist_size {
  font-family: system-ui;
  font-size: 12px;
  margin-left: 10px;
}

.wishlist .addbagbtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  border: none;
  background: #ffffff;
  color: #4d4d4d;
}

.bag {
  display: none;
  position: fixed;
  width: 40%;
  height: auto;
  top: 12%;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  text-align: left;
}

.bag h {
  margin-left: 20px;
}

.bag_div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6%;
  left: 2%;
  right: 0;
  width: 98%;
  height: 94%;
}

.bag_product {
  position: relative;
  width: 100%;
  height: 70px;
}

.bag_img {
  display: block;
  position: relative;
  width: 40%;
  height: 70%;
  padding-top: 100%;
  overflow: hidden;
}

.bag_img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  object-fit: cover;
}

.bag_title p {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: system-ui;
  font-size: 12px;
}

.bag_title a {
  color: #4d4d4d;
  text-decoration: none;
}

.bag_price p {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: system-ui;
  font-size: 12px;
}

.bag_size {
  font-family: system-ui;
  font-size: 12px;
  margin-left: 10px;
}

.bag_wishlist {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffffff;
  color: #4d4d4d;
}

.l {
  width: 100%;
  height: 2.9px;
  border: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  margin-bottom: 40px;
}

.img,
.img1 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.img1 {
  opacity: 0;
}

.product:hover .img1 {
  opacity: 1;
}

.product:hover .img {
  opacity: 0;
}
